* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}
body {
  font-size: 18px;
}

h1 {
  margin-bottom: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

.visibility-none {
  visibility: hidden;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

button {
  padding: 5px 10px;
  min-width: 100px;
  border-radius: var(--button-border-radius);
  border: 3px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
}

button:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

button:active {
  color: var(--white);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
  --button-border-radius: 53% 97% 46% 24% / 26% 20% 56% 37%;
  --block-border-radius: 41% 100% 81% 13% / 9% 2% 7% 9%;
}
