.title {
    font-size: 60px;
}

.large-btn {
    font-size: 26px;
    border-radius: var(--button-border-radius);
    border: 3px solid var(--main-button-border-color);
}

.rooms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 50px;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    padding: 15px;
    border-radius: var(--block-border-radius);
    border: 3px solid var(--main-button-border-color);
}

.room span {
    align-self: start;
}

.container-grid {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
}

.user {
    margin-top: 50px;
}

.user-name {
    margin-bottom: 20px;
}

.user-progress {
    border-radius: var(--block-border-radius);
    border: 3px solid var(--main-button-border-color);
    height: 30px;
    margin-bottom: 30px;
}
.progress-bar {
    background-color: lightgreen;
    height: 100%;
    width: 0%;
}

.ready-status-red,
.ready-status-green {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 15px;
}
.ready-status-red {
    background-color: red;
}

.ready-status-green {
    background-color: lightgreen;
}

.text-container {
    border-radius: var(--block-border-radius);
    border: 3px solid var(--main-button-border-color);
    position: relative;
    width: 760px;
    height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    padding: 30px;
}

.text-container li {
    list-style: none;
    font-size: 24px;
}

.text-container .new-game-btn {
    margin-top: 20px;
    font-size: 24px;
}

.ready-btn {
    font-size: 60px;
    padding: 20px;
}

.text-game {
    font-size: 22px;
    font-weight: normal;
    position: relative;
}

.text-game-color {
    font-size: 22px;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    background-color: lightgreen;
    white-space: pre;
    z-index: 100;
}

.game-counter {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}
